SPRING_DATASOURCE_URL=jdbc:mysql://host.docker.internal:3306/customerservice
SPRING_DATASOURCE_USERNAME=root
SPRING_DATASOURCE_PASSWORD=CHANGE_ME
MYSQL_PASSWORD=CHANGE_ME
CUSTOMER_SERVICE_BASE_URL=http://hotelbooking:8080
SHOW_SQL=true